# この CI ではあくまでテストとビルド, フォーマットの検証のみを行う

name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      # renovate: rust-lang/mdBook
      MDBOOK_VERSION: '0.4.40'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.x

      - name: Install mdbook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: ${{ env.MDBOOK_VERSION }}

      - name: Run fmt
        run: |
          deno task format:check

      - name: Run test
        run: |
          deno task test

      - name: Run build
        run: |
          deno task build
